In [ ]:
# pip install dnspython used this to solve ssl issue

In [1]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://mongodb:mongodb@cluster0.s5qzxfm.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [2]:
print(db)

Database(MongoClient(host=['ac-3ys8wyg-shard-00-00.s5qzxfm.mongodb.net:27017', 'ac-3ys8wyg-shard-00-02.s5qzxfm.mongodb.net:27017', 'ac-3ys8wyg-shard-00-01.s5qzxfm.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-flvxgv-shard-0', tls=True), 'test')

In [3]:
client.list_database_names()

['mongo1', 'mongo2', 'admin', 'local']

In [4]:
db1=client['mongo1']  # here mongo1 is the databse name

In [5]:
col1=db1['db_connect1']  # here db_connect1 is collection(table) name

In [16]:
dict1={
    'keyno':'k1',
    'product':['talc','facecream','soap','deo'],
    'company':'park avenue'
    
}

In [14]:
col1.insert_many(dict3)

In [12]:
dict3=[
    {
    '_id':'3247whkfnsd',
    'keyno':'k1',
    'product':['facewash'],
    'company':'park avenue',
    'total employee':'100',
    'state':'gujrat'
    },
    {
    '_id':'werfa2395271asd',
    'keyno':'k2',
    'product':['talc','facecream','soap','deo'],
    'company':'unilever',
    'total employee':'521',
    'state':'goa'
    },
     {
    '_id':'lij43r271asd',
    'keyno':'k3',
    'product':['soft drink'],
    'company':'coca cola',
    'total employee':'249',
    'state':'gujrat'
    },
     {
    '_id':'832y4hwa324',
    'keyno':'k4',
    'product':['talc','facecream','soap','deo'],
    'company':'avenue',
    'total employee':'100',
    'state':'gujrat'
    },
     {
    '_id':'ukh45ntw3nrn',
    'keyno':'k5',
    'product':['deo'],
    'company':'park',
    'total employee':'100',
    'state':'gujrat'
    }
    
]

    col1.find()  Acts like 'select * from table'    command.

In [10]:
col1.find()

In [18]:
for u in col1.find():    #  equivalent to select * from table   cmmand
    print(u)

{'_id': ObjectId('63e1e09d89107e0c920211b9'), 'keyno': 'k1', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'park avenue'}
{'_id': ObjectId('63e5d5451c0e6fab28695efe'), 'keyno': 'k1', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'park avenue', 'total employee': '100', 'state': 'gujrat'}
{'_id': '982y3582395271asd', 'keyno': 'k1', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'park avenue', 'total employee': '100', 'state': 'gujrat'}
{'_id': '3247whkfnsd', 'keyno': 'k1', 'product': ['facewash'], 'company': 'park avenue', 'total employee': '100', 'state': 'gujrat'}
{'_id': 'werfa2395271asd', 'keyno': 'k2', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'unilever', 'total employee': '521', 'state': 'goa'}
{'_id': 'lij43r271asd', 'keyno': 'k3', 'product': ['soft drink'], 'company': 'coca cola', 'total employee': '249', 'state': 'gujrat'}
{'_id': '832y4hwa324', 'keyno': 'k4', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'avenue', 'total employee': '100', 'state': 'gujrat'}
{'_id': 'ukh45ntw3nrn', 'keyno': 'k5', 'product': ['deo'], 'company': 'park', 'total employee': '100', 'state': 'gujrat'}
{'_id': ObjectId('63e5e9481c0e6fab28695eff'), 'keyno': 'k1', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'park avenue'}

   Here Data inside Curly Bracket acts as where condition in  SQL.

In [22]:
for y in col1.find({'company':'unilever'}):  
    print(y)

{'_id': 'werfa2395271asd', 'keyno': 'k2', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'unilever', 'total employee': '521', 'state': 'goa'}

    2. Multiple where condition

In [41]:
for z in col1.find({'keyno':{'$in':['k1','k2','k5']},'company':{'$in':['park','avenue']},'total employee':{'$in':['100','249']}}):
    print(z)

{'_id': 'ukh45ntw3nrn', 'keyno': 'k5', 'product': ['deo'], 'company': 'park', 'total employee': '100', 'state': 'gujrat'}

    $gt   is used as greater than symbol in mongodb

In [44]:
for x in col1.find({'total employee':{'$gt':'248'}}):
    print(x)

{'_id': 'werfa2395271asd', 'keyno': 'k2', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'unilever', 'total employee': '521', 'state': 'goa'}
{'_id': 'lij43r271asd', 'keyno': 'k3', 'product': ['soft drink'], 'company': 'coca cola', 'total employee': '249', 'state': 'gujrat'}

    $lt   is used as lesser than symbol in mongodb

In [54]:
for f in col1.find({'total employee':{'$lt':'249'}}):
    print(f)

{'_id': ObjectId('63e5d5451c0e6fab28695efe'), 'keyno': 'k1', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'park avenue', 'total employee': '100', 'state': 'gujrat'}
{'_id': '982y3582395271asd', 'keyno': 'k1', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'park avenue', 'total employee': '100', 'state': 'gujrat'}
{'_id': '3247whkfnsd', 'keyno': 'k1', 'product': ['facewash'], 'company': 'park avenue', 'total employee': '100', 'state': 'gujrat'}
{'_id': '832y4hwa324', 'keyno': 'k4', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'avenue', 'total employee': '100', 'state': 'gujrat'}
{'_id': 'ukh45ntw3nrn', 'keyno': 'k5', 'product': ['deo'], 'company': 'park', 'total employee': '100', 'state': 'gujrat'}

  Here   '$not' means not equal to  and  $gt means greater than , i.e it means not greater than or not lesser than

In [52]:
for m in col1.find({'keyno':{'$not':{'$gt':'k5'}}}):
    print(m)

{'_id': ObjectId('63e1e09d89107e0c920211b9'), 'keyno': 'k1', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'park avenue'}
{'_id': ObjectId('63e5d5451c0e6fab28695efe'), 'keyno': 'k1', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'park avenue', 'total employee': '100', 'state': 'gujrat'}
{'_id': '982y3582395271asd', 'keyno': 'k1', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'park avenue', 'total employee': '100', 'state': 'gujrat'}
{'_id': '3247whkfnsd', 'keyno': 'k1', 'product': ['facewash'], 'company': 'park avenue', 'total employee': '100', 'state': 'gujrat'}
{'_id': 'werfa2395271asd', 'keyno': 'k2', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'unilever', 'total employee': '521', 'state': 'goa'}
{'_id': 'lij43r271asd', 'keyno': 'k3', 'product': ['soft drink'], 'company': 'coca cola', 'total employee': '249', 'state': 'gujrat'}
{'_id': '832y4hwa324', 'keyno': 'k4', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'avenue', 'total employee': '100', 'state': 'gujrat'}
{'_id': 'ukh45ntw3nrn', 'keyno': 'k5', 'product': ['deo'], 'company': 'park', 'total employee': '100', 'state': 'gujrat'}
{'_id': ObjectId('63e5e9481c0e6fab28695eff'), 'keyno': 'k1', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'park avenue'}

In [8]:
for p in col1.find({'company':'unilever'}):
    print(p)

{'_id': 'werfa2395271asd', 'keyno': 'k2', 'product': ['soap', 'detergent'], 'company': 'unilever', 'total employee': '521', 'state': 'goa'}

In [25]:
for i in col1.find_one_and_update({'_id':'982y3582395271asd'},{'$set':{'total employee':'319'}}):
    print(i)

_id
keyno
product
company
total employee
state

to update 1 row value we use the above condition using SET Function.

In [28]:
for i in col1.find():
    print(i)

{'_id': ObjectId('63e1e09d89107e0c920211b9'), 'keyno': 'k1', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'park avenue'}
{'_id': ObjectId('63e5d5451c0e6fab28695efe'), 'keyno': 'k1', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'park avenue', 'total employee': '100', 'state': 'gujrat'}
{'_id': '982y3582395271asd', 'keyno': 'k1', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'park avenue', 'total employee': '319', 'state': 'gujrat'}
{'_id': '3247whkfnsd', 'keyno': 'k1', 'product': ['facewash'], 'company': 'park avenue', 'total employee': '100', 'state': 'gujrat'}
{'_id': 'werfa2395271asd', 'keyno': 'k2', 'product': ['soap', 'detergent'], 'company': 'unilever', 'total employee': '521', 'state': 'goa'}
{'_id': 'lij43r271asd', 'keyno': 'k3', 'product': ['soft drink'], 'company': 'coca cola', 'total employee': '249', 'state': 'gujrat'}
{'_id': '832y4hwa324', 'keyno': 'k4', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'avenue', 'total employee': '100', 'state': 'gujrat'}
{'_id': 'ukh45ntw3nrn', 'keyno': 'k5', 'product': ['deo'], 'company': 'park', 'total employee': '100', 'state': 'gujrat'}
{'_id': ObjectId('63e5e9481c0e6fab28695eff'), 'keyno': 'k1', 'product': ['talc', 'facecream', 'soap', 'deo'], 'company': 'park avenue'}